src/template-js-basics
src/template-ts-basics
src/template-js-react
src/template-ts-react
src/template-js-blog
src/template-ts-blog
src/template-js-docs
src/template-ts-docs
src/template-js-vue
src/template-ts-vue
src/template-js-alpine
src/template-ts-alpine
src/template-js-svelte
src/template-ts-svelte
src/template-js-solid
src/template-ts-solid
src/template-js-tailwind
src/template-ts-tailwind
src/template-js-mdx
src/template-ts-mdx
templates

dist
src/index.js
lib/templates.js
lib/packageName.js
lib/pkg.js
lib/templates.js